<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
        {% load static %}
    <link rel="stylesheet" href="{% static 'css/simple.css' %}">
</head>
<body>
<table><tr><td><a href="/goods/">Список товаров</a></td><td><a href="/order/{{ customer_id }}/">Мои заказы</a></td><td><a href="/cart/{{ customer_id }}/">Корзина</a></td></tr></table>
  <h1>{{ goods.goods_name }}</h1>
  <img src="{{ goods.goods_img.url }}">
  <p>{{ goods.goods_descr }}</p>
  <p>Цена: {{ goods.goods_price }}</p>

  <h1>Положить в корзину</h1>
<form method="post" action="{% url 'add_to_cart' %}">
  {% csrf_token %}
  {{ form.as_p }}
    <input type="hidden" name="product" value="{{ goods.goods_id }}">
<input type="submit" value="В корзину">
</form>
</body>
</html>