<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список заказов</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
</head>
<body>
<table>
        <tr>
            <td><a href="/goods/">Список товаров</a></td>
            <td><a href="/order/{{ customer_id }}/">Мои заказы</a></td>
            <td><a href="/cart/{{ customer_id }}/">Корзина</a></td>
            <td><a href="/">Выход</a></td>
        </tr>
    </table>
{% if new_order %}
    <h1>Новый заказ</h1>
    <table border="1">
        {% for item in new_order %}
          <tr>
              <td>Номер заказа: {{ item.order_id.order_id }}</td>
              <td>Дата заказа: {{ item.order_id.order_date }}</td>
          </tr>
          <tr>
              <td>Статус заказа: {{ item.order_id.order_status_id }}</td>
              <td>Товар: {{ item.goods_id.goods_name }}</td>
              <td>Количество: {{ item.goods_cnt }}</td>
              <td>Цена: {{ item.goods_id.goods_price }}</td>
          </tr>

        {% endfor %}
    </table>
{% endif %}
  <h1>Ваши заказы</h1>
    {% if orders %}
        {% for order in orders %}
            <table border="1" width="85%">
              <tr bgcolor="#7fffd4">
                  <td>Номер заказа: <b>{{ order.order_id }}</b></td>
                  <td colspan="1">Дата заказа: {{ order.order_date }}</td>
                  {% for statuses in order_statuses %}
                    {% if statuses.order_id.order_id == order.order_id %}
                        <td colspan="1"><a href="/order/{{ customer_id }}/{{ order.order_id }}/">Статус заказа: {{ statuses.order_status_id.status_name }}</a></td>
                    {% endif %}
                  {% endfor %}
              </tr>

                {% for goods in order_goods %}
                    {% if order.order_id == goods.order_id.order_id %}
                      <tr>
                          <td align="left">{{ goods.goods_id.goods_name }}</td>
                          <td align="center">{{ goods.goods_cnt }}</td>
                          <td align="right">{{ goods.goods_id.goods_price }}</td>
                      </tr>
                    {% endif %}

                {% endfor %}
                <tr>
                    <td colspan="2">
                        <b>Стоимость заказа</b>
                    </td>
                    <td colspan="1">
                        {% load custom_filters %}
                        <b>
                        {{ total_prices|get_item:order.order_id }}
                        </b>
                    </td>
                </tr>
            </table>
            <br>

        {% endfor %}
    {% else %}

        <table border="1">
            <tr><td>У вас пока нет заказов :(</td></tr>
        </table>
    {% endif %}


</body>
</html>