<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order detail</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
</head>
<body>
<table><tr><td><a href="/goods/">Список товаров</a></td><td><a href="/order/{{ customer_id }}/">Мои заказы</a></td><td><a href="/cart/{{ customer_id }}/">Корзина</a></td></tr></table>
  <h1>Подробная информация о заказе номер {{ order.order_id }}</h1>
  <h1>от {{ order.order_date }}</h1>
  <table>
      <tr bgcolor="#7fffd4"><td><b>Статус заказа</b></td><td><b>Дата статуса</b></td></tr>
      {% for status in order_statuses %}
        <tr><td>{{ status.order_status_id.status_name }}</td><td>{{ status.sdate }}</td></tr>
      {% endfor %}
  </table>
<input type=button value="Назад" onClick="javascript:history.go(-1);">
</body>
</html>